<a href="https://colab.research.google.com/github/kimnathan1/chatgptsimple/blob/main/%EA%B3%A0%EB%A0%A4%EB%8C%80_LLMRAG_%5B1%EC%A3%BC%EC%B0%A8_1%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 윈도우 ctrl + enter
# 맥 shift + enter
print('hello world')

hello world

In [ ]:
name = "홍길동" # 문자열은 큰따옴표로 사용할 수 있습니다.
name2 = '임꺽정' # 문자열은 작은따옴표로 사용할 수 있습니다.
height = 172.5 # 소수형(실수형)은 정수뒤에 소수점이 나옵니다.
age = 30 # 정수형은 정수뒤에 소수점이 없는 깔끔한 숫자입니다.
student = True # 불린형 True = 1
teacher = False # 불린형 False = 0

# 파이썬은 변수의 구분을 보통 콤마로 합니다.
# 변수의 이름 (name, name2) 은 파이썬에서 입력 또는 출력을 하거나 계산을 할때 사용할 수 있구나
print(name, name2, height, age, student, teacher)

홍길동 임꺽정 172.5 30 True False

In [ ]:
# 변수의 값이 바뀌면 동한 / 재훈 / 현아 / 현성
# 동한 -> 파이썬에 대해서 알려줘 -> 출력 -> 파이썬...
# 재훈 -> 파이썬에 대해서 알려줘 -> 출력 -> 대표적인 프로그래밍...

# chatgpt 똑같은 말을 적어도, 랜덤으로 값을 출력해라

age = 50
print(age)

50

In [ ]:
# f-string 파이썬 3.6이상부터 적용된 문법
# print(name, name2, height, age, student, teacher)
# f-string은
# 1) print()안에 맨 앞에 f를 붙인다.
# 2) 변수는 중괄호{}로 묶는다.
# 3) 그외에 일반 텍스트는 그냥 적는다. 따옴표 안에

print(f'안녕하세요 {name} 입니다. {height}, {age}')

안녕하세요 홍길동 입니다. 172.5, 50

In [ ]:
# 1) 변수
# 2) f-string print문

name = '김진환'
hobby = '데이터 분석'

print(f'안녕하세요 {name}입니다. 제 취미는 {hobby}입니다.')

안녕하세요 김진환입니다. 제 취미는 데이터 분석입니다.

In [ ]:
# 2. input을 활용한 자기소개
# 입력 될때까지 수행이 지속됨

name = input("이름은 무엇인가요? : ")

이름은 무엇인가요? : 김진환

In [ ]:
print(name)

김진환

In [ ]:
hobby = input("취미는 무엇인가요? :")

취미는 무엇인가요? :등산

In [ ]:
print(hobby)

등산

In [ ]:
height = int(input('키는 얼마나 되시나요?'))

키는 얼마나 되시나요?183

In [ ]:
print(height)

183

In [ ]:
# 1) 서로 다른 자료형은 덧셈이 되지 않는다.
# 2) 문자형의 합은 그 문자가 서로 합쳐지는 효과를 발생한다.
# 3) 숫자형으로 변경해야하만 우리가 아는 사칙연산을 할 수 있게 된다.
print(height + '1')

1831

In [ ]:
# 해당 변수의 특성을 확인할 수 있습니다.
# str = 문자열 / int = 정수형 / float = 소수형 / bool = 불린형
type(height)

int

In [ ]:
# 실습 3. 2가지 값을 받는 계산기 만들기

a = int(input("첫 번째 숫자를 입력하세요: "))
b = int(input("두 번째 숫자를 입력하세요: "))

첫 번째 숫자를 입력하세요: 3
두 번째 숫자를 입력하세요: 5

In [ ]:
print(f"덧셈 : 첫번째 입력값 : {a}, 두번째 입력값 : {b} = {a + b}입니다.")
print(f"뺄셈 : 첫번째 입력값 : {a}, 두번째 입력값 : {b} = {a - b}입니다.")
print(f"곱셉 : 첫번째 입력값 : {a}, 두번째 입력값 : {b} = {a * b}입니다.")
# 정수 / 정수 -> 소수형(float)
# 소수점에 대한 부분을 다루기 위해서 :(콜론) :.2f -> 소수점 2자리까지 계산
print(f"나눗셈 : 첫번째 입력값 : {a}, 두번째 입력값 : {b} = {a / b:.2f}입니다.")
# 3.4059304932304932
# 3.01 * e-10

덧셈 : 첫번째 입력값 : 3, 두번째 입력값 : 5 = 8입니다.
뺄셈 : 첫번째 입력값 : 3, 두번째 입력값 : 5 = -2입니다.
곱셉 : 첫번째 입력값 : 3, 두번째 입력값 : 5 = 15입니다.
나눗셈 : 첫번째 입력값 : 3, 두번째 입력값 : 5 = 0.60입니다.

In [ ]:
# 예제 3
title = "Python"
score = 95.678

print(f"{'과목':<8} | {'점수':>8}")
print("-" * 20)
print(f"{title:<8} | {score:>8.2f}")

과목       |       점수
--------------------
Python   |    95.68

In [ ]:
if 조건식1:
  print("조건식 1이 참이면 print문을 수행해라")
elif 조건식2:
  print2("조건식 1이 참이 아닌 상태에서 조건식 2가 참이면 print2문을 수행해라")
else:
  print3('조건식 1도아니고 2도 아닌상태에서 나머지는 모두 print3을 수행하라')

In [ ]:
# 조건문 1 - 성적관련 조건문
# 조건 - 90점 이상 - A / 80점 ~ 90미만 - B / 70 ~ 80점 - C / 그외는 - D

score = 85

# if 변수명 (연산자 + 조건):
    # 들여쓰기는 스페이스바 4번입니다. 4칸

# 1번째 if와 else만 있는 조건문
if score >= 90:
    print('A학점 입니다.')
else:
    print('B학점 입니다.')

B학점 입니다.

In [ ]:
# 조건문은 조건에 맞으면 들여쓰기 부분이 실행된다.
score = 92

In [ ]:
# 작은따옴표로 시작되면 작은따옴표로 끝나야 되고
# 큰따옴표로 시작되면 큰따옴표로 끝나야 됩니다.

In [ ]:
# 조건이 늘어나면 elif만 추가하면 된다.
if score >= 90:
    print("A학점 입니다.")
elif score >= 80: # (연속되는 숫자일때) 위에서 적었던 조건은 자동으로 적용!
    print('B학점 입니다.')
elif score >= 70:
    print("C학점 입니다.")
else:
    print("D학점 입니다.")

A학점 입니다.

In [ ]:
# 문자열 조건문

name = '김진환'
print(name)

김진환

In [ ]:
# 문자열은 숫자처럼 크다, 작다를 구분할 수 없기 때문에 같다. 또는 같지 않다로 조건을 걸고 비교를 한다.

In [ ]:
# 문자열의 주의점 - 어떻게 해야 조건 안에 내가 조건을 걸고싶은 텍스트만 출력되게 할 수 있는가?
if name == '김진환':
    print('반갑습니다. 김진환님')

반갑습니다. 김진환님

In [ ]:
# 실습 - and or의 차이점 - 둘다 충족할때의 and - True

age = 25
country = 'korea'

# and -> 두가지 조건 모두 참일때 -> 참이다.
if (age >= 20) and (country == 'korea'):
    print('성인 한국인 입니다.')
else:
    print('조건에 해당하지 않습니다.')

성인 한국인 입니다.

In [ ]:
# 실습 - and or의 차이점 - 1개만 충족할때의 and - False

age = 15
country = 'korea'

# and -> 두가지 조건 모두 참일때 -> 참이다.
if (age >= 20) and (country == 'korea'):
    print('성인 한국인 입니다.')
else:
    print('조건에 해당하지 않습니다.')

In [ ]:
# 실습 - and or의 차이점 - 1개만 충족할때의 or - True

age = 15
country = 'korea'

# and -> 두가지 조건 모두 참일때 -> 참이다.
if (age >= 20) or (country == 'korea'):
    print('성인 한국인 입니다.')
else:
    print('조건에 해당하지 않습니다.')

In [ ]:
# 로그인 검사 로직
# 운영자 계정
user_id = 'admin'
user_pw = '1234'

id_input = input("아이디를 입력하세요: ")
pw_input = input('password를 입력하세요')

if id_input == user_id and pw_input == user_pw:
    print('로그인 완료')
else:
    print('로그인 실패, 아이디 또는 패스워드를 확인하세요.')

아이디를 입력하세요: admin
password를 입력하세요2345
로그인 실패, 아이디 또는 패스워드를 확인하세요.

In [ ]:
# 변수 컴퓨터가 인식하는 적용 순서

In [ ]:
role = input("당신의 역할을 입력하세요 (student/teacher/admin): ")

if role == "student":
    print("📚 학생 모드입니다. 과제를 제출할 수 있습니다.")
elif role == "teacher":
    print("🧑‍🏫 교사 모드입니다. 학생 점수를 관리할 수 있습니다.")
elif role == "admin":
    print("💻 관리자 모드입니다. 시스템 설정을 변경할 수 있습니다.")
else:
    print("❌ 알 수 없는 역할입니다. 다시 입력해주세요.")

당신의 역할을 입력하세요 (student/teacher/admin): admin
💻 관리자 모드입니다. 시스템 설정을 변경할 수 있습니다.

In [ ]:
# 반복문 기초

# 1. 파이썬은 숫자의 시작이 0부터 시작한다.
# 2. 파이썬에서는 구문을 줄일수 있다. range(5) == range(0,5,1)
# 3. i는 이름을 원하는대로 변경할 수 있다.
# 4, for in은 고정!

for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
# 반복문 기초
# range(start,stop,step)
# start 는 0부터 시작한다.(start에 아무것도 적지 않았을 경우) , stop에서 -1까지 출력이 된다.
# step은 얼마나 띄워서 출력할지를 정하는 것이다.
for i in range(0,5,1):
    print(i)

1
3

In [ ]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [ ]:
for i in ['사과','바나나','포도']:
   print(i)

사과
바나나
포도

In [ ]:
# range(5) == range(0,5,1) -> 0부터 4까지
# range(1,6) == range(1,6,1) -> 1부터 5까지
# range(0, 10, 2) == 짝수만
# step에 역수를 쓸때에는 숫자인 경우에는 큰 숫자부터 적는 것을 권함 (문자는 상관없음)
for i in range(10, 2, -1):
    print(i)

10
9
8
7
6
5
4
3

In [ ]:
# 누적합계 구하기

total = 0
for i in range(1, 11): #range(1,11) -> 1,2,3,4,5,6,7,8,9,10
    total = total + i

print(total)

55

In [ ]:
# 누적합계 구하기

total = 0
for i in range(1, 11): #range(1,11) -> 1,2,3,4,5,6,7,8,9,10
    total += i # total = total + i와 동일하다.

print(total)

55

In [ ]:
# 누적합계 구하기

total = 0
for i in range(1, 11): #range(1,11) -> 1,2,3,4,5,6,7,8,9,10
    total =+ i # total = total + i와 동일하다.

print(total)

10

In [ ]:
count = 0

while count < 5:
    print(f"{count}번째 반복")
    count += 1

0번째 반복
1번째 반복
2번째 반복
3번째 반복
4번째 반복

In [ ]:
count = 0

while count < 10:
    print(f"{count}번째 반복")
    count += 2

0번째 반복
2번째 반복
4번째 반복
6번째 반복
8번째 반복

In [ ]:
# break는 반복문을 자동으로 중지 시키는 구문 보통 if 조건문과 같이 사용된다.
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
# coutinue는 특정 조건을 건너뛰는
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9